GPT_API_KEY=
GPT_API_URL=https://api.openai.com/v1/chat/completions
GPT_MODEL=gpt-4o-mini
STRIPE_SECRET_KEY=
STRIPE_PRO_PRICE_ID=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_STRIPE_TEST_CUSTOMER_ID=
NEXT_PUBLIC_APP_URL=http://localhost:3000
